.task {
    margin: 2px;
    padding: 5px;
    display: flex;
    gap: 20px;
    width: 100%;
    height: 100%;
}

.task-body {
    background-color: rgba(67, 67, 67, 0.226);
    border-left: 5px solid #00ffff;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.task-body:hover {
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.5);
    background-color: rgba(0, 255, 255, 0.1);
}

.task-body-complete {
    background-color: rgba(10, 93, 58, 0.226);
    border-left: 5px solid #00ffaa;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.task-body-complete:hover {
    box-shadow: 0 0 10px rgba(0, 255, 170, 0.5);
}

.task-id-label {
    text-align: center;
    justify-content: center;
    margin-top: 18px;
    font-size: 20px;
    width: 40px;
    color: #00ffff;
    text-shadow: 0 0 10px rgba(0, 255, 255, 0.5);
}

.task-div-right {
    margin-left: auto;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.task-creation-date {
    color: rgba(255, 255, 255, 0.587);
    font-size: 12px;
}

.task-title {
    max-width: 40vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #ffffff;
}

.task-description {
    max-width: 70vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgba(255, 255, 255, 0.8);
}

.task-checkbox {
    width: 100%;
}

.task-left-div {
    background-color: rgba(0, 0, 0, 0.165);
}

.task-div-mid {
    overflow: hidden;
}

.task-edit-div {
    display: flex;
    gap: 10px;
    position: relative;
    bottom: 0;
}

.task-edit-div button {
    font-size: 10px;
}

.task-delete-button {
    background: linear-gradient(45deg, #bb1f1f, #752b2b);
    box-shadow: 0 0 10px rgba(135, 19, 19, 0.5);
    transition: all 0.1s ease;
    padding: 5px 5px;
}

.task-delete-button:hover {
    background: linear-gradient(45deg, #e11f1f, #ff0202);
    box-shadow: 0 0 10px rgba(255, 35, 35, 0.5);
    transform: scale(1.05);
}

.task-move-button {
    background: linear-gradient(45deg, #00ffff, #00ffaa);
    color: #000;
    border: none;
    padding: 5px 5px;
    margin: 2px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 0 2px rgba(0, 255, 255, 0.5);
}

.task-move-button:hover {
    background: linear-gradient(45deg, #00ffaa, #00ffff);
    box-shadow: 0 0 5px rgba(0, 255, 255, 0.7);
    transform: scale(1.05);
}

.task-move-button-disabled {
    background: linear-gradient(45deg, #616161, #3d4945);
    color: #000;
    border: none;
    padding: 5px 5px;
    margin: 2px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 0 2px rgba(78, 92, 92, 0.5);
}

.task-move-button-disabled:hover {
    background: linear-gradient(45deg, #69887d, #3f6767);
    box-shadow: 0 0 5px rgba(79, 103, 103, 0.7);
    transform: scale(0.9);
}

.task-move-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    height: 100%;
}

.task-delete-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.task-delete-modal {
    position: absolute;
    background-color: #00000065;
    padding: 5px;
    margin: 5px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 150px;
}

/* Responsive Design */
@media (max-width: 600px) {
    .task-edit-div {
        margin: 2px;
        padding: 2px;
        gap: 12px;
    }

    .task-creation-date {
        color: rgba(255, 255, 255, 0.587);
        font-size: 11px;
    }

    .task-div-mid {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .task {
        padding: 1px;
        margin: 1px;
        gap: 20px;
        transform: scale(0.9);
    }

    .task-description {
        display: none;
    }

    .task-title {
        max-width: fit-content;
        font-size: 20px;
    }
}