.task-manager-body {
    width: 80vw;
}

.task-manager-label {
    text-align: center;
    justify-content: center;
    margin-top: 15px;
    color: #00ffff;
}

.task-manager-label-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    gap: 30px;
}

.task-manager-add {
    height: 40px;
}

.task-manager-service-buttons {
    margin: 1%;
    display: flex;
    margin-left: auto;
    text-align: right;
    justify-content: right;
}